swagger: '2.0'
info:
  title: 'URL Redirector microservice'
  version: '0.1.1'
  description: 'Microservice for URL forwarding.'
  contact:
    email: 'r@m13.ro'
host: 'imobiliare.m13.ro'
basePath: '/r'

produces:
  - 'application/json'

consumes:
  - 'application/json'

securityDefinitions:
 api_key:
   type: "apiKey"
   name: "x-api-key"
   in: "header"

parameters:
  IDPathParam:
    description: 'The redirection ID.'
    required: true
    name: id
    type: string
    in: path
  URLQueryParam:
    description: 'The target URL.'
    required: false
    name: url
    type: string
    in: query

responses:
  nay:
    description: 'BAD REQUEST - I will NOT do that!'

x-aws-support:
  integrations:
    RedirectHandlerIntegration:
      responses:
        default:
          statusCode: 400
          $ref: '#/responses/nay'
      uri:
        'Fn::Sub': 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${RedirectHandler.Arn}/invocations'
      passthroughBehavior: when_no_match
      httpMethod: POST
      contentHandling: CONVERT_TO_TEXT
      type: aws_proxy

paths:

  '/r/{id}':
    parameters:
      - $ref: '#/parameters/IDPathParam'
      - $ref: '#/parameters/URLQueryParam'

    get:
      summary: 'Redirects to target URL based on the ID parameter.'
      responses:
        301:
          description: 'Redirection to default URL.'
        302:
          description: 'Redirection to target URL.'
      x-amazon-apigateway-integration:
        $ref: '#/x-aws-support/integrations/RedirectHandlerIntegration'

    post:
      summary: 'Registers a redirection to the target URL for the specified ID.'
      security:
      - api_key: []
      responses:
        201:
          description: 'Redirection succesfully registered.'
        400:
          description: 'Unable to register due to missing target URL.'
        409:
          description: 'Unable to register due to prior registration.'
      x-amazon-apigateway-integration:
        $ref: '#/x-aws-support/integrations/RedirectHandlerIntegration'

    put:
      summary: 'Updates the target URL for the specified redirection ID.'
      security:
      - api_key: []
      responses:
        200:
          description: 'Redirection succesfully updated.'
        400:
          description: 'Unable to update registration due to missing target URL.'
        404:
          description: 'Unable to update non-existent registration.'
      x-amazon-apigateway-integration:
        $ref: '#/x-aws-support/integrations/RedirectHandlerIntegration'

    delete:
      summary: 'Disables redirection for the specified ID.'
      security:
      - api_key: []
      responses:
        200:
          description: 'OK'
        404:
          description: 'Unable to delete non-existent registration.'
      x-amazon-apigateway-integration:
        $ref: '#/x-aws-support/integrations/RedirectHandlerIntegration'
